<div id="container-instructions">

    <div class="header">
        <h1>Pre-experiment questions</h1>
    </div>

	  <hr>

    <div class="instructions well">
        <p id="toptext">
            People differ in the ways they act and think in different situations.  This is a test
            to measure some of the ways in which you act and think.  Read each statement and select
            the appropriate circle to its right.  Do not spend too much time on any
            statement.  Answer quickly and honestly.
        </p>
        <form id="bis" action="debrief" method="post">
            <div class="bisquestion">
                <div class="bisquestiontext" >
                    I plan tasks carefully.
                </div>
                <div class="bisitem">
                    <label>
                        <input type="radio" name="bis1" value="1"/><br/>Rarely/Never
                    </label>
                </div>
                <div class="bisitem">
                    <label>
                        <input type="radio" name="bis1" value="2"/><br/>Occasionally
                    </label>
                </div>
                <div class="bisitem">
                    <label>
                        <input type="radio" name="bis1" value="3"/><br/>Often
                    </label>
                </div>
                <div class="bisitem">
                    <label>
                        <input type="radio" name="bis1" value="4"/><br/>Almost Always/Always
                    </label>
                </div>
            </div>
            <div class="bisquestion">
                <div class="bisquestiontext" >
                    I do things without thinking.
                </div>
                <div class="bisitem">
                    <label>
                        <input type="radio" name="bis2" value="1"/><br/>Rarely/Never
                    </label>
                </div>
                <div class="bisitem">
                    <label>
                        <input type="radio" name="bis2" value="2"/><br/>Occasionally
                    </label>
                </div>
                <div class="bisitem">
                    <label>
                        <input type="radio" name="bis2" value="3"/><br/>Often
                    </label>
                </div>
                <div class="bisitem">
                    <label>
                        <input type="radio" name="bis2" value="4"/><br/>Almost Always/Always
                    </label>
                </div>
            </div>
            <div class="bisquestion">
                <div class="bisquestiontext" >
                    I make up my mind quickly.
                </div>
                <div class="bisitem">
                    <label>
                        <input type="radio" name="bis3" value="1"/><br/>Rarely/Never
                    </label>
                </div>
                <div class="bisitem">
                    <label>
                        <input type="radio" name="bis3" value="2"/><br/>Occasionally
                    </label>
                </div>
                <div class="bisitem">
                    <label>
                        <input type="radio" name="bis3" value="3"/><br/>Often
                    </label>
                </div>
                <div class="bisitem">
                    <label>
                        <input type="radio" name="bis3" value="4"/><br/>Almost Always/Always
                    </label>
                </div>
            </div>
            <div class="bisquestion">
                <div class="bisquestiontext" >
                    I am happy-go-lucky.
                </div>
                <div class="bisitem">
                    <label>
                        <input type="radio" name="bis4" value="1"/><br/>Rarely/Never
                    </label>
                </div>
                <div class="bisitem">
                    <label>
                        <input type="radio" name="bis4" value="2"/><br/>Occasionally
                    </label>
                </div>
                <div class="bisitem">
                    <label>
                        <input type="radio" name="bis4" value="3"/><br/>Often
                    </label>
                </div>
                <div class="bisitem">
                    <label>
                        <input type="radio" name="bis4" value="4"/><br/>Almost Always/Always
                    </label>
                </div>
            </div>
            <div class="bisquestion">
                <div class="bisquestiontext" >
                    I don't "pay attention".
                </div>
                <div class="bisitem">
                    <label>
                        <input type="radio" name="bis5" value="1"/><br/>Rarely/Never
                    </label>
                </div>
                <div class="bisitem">
                    <label>
                        <input type="radio" name="bis5" value="2"/><br/>Occasionally
                    </label>
                </div>
                <div class="bisitem">
                    <label>
                        <input type="radio" name="bis5" value="3"/><br/>Often
                    </label>
                </div>
                <div class="bisitem">
                    <label>
                        <input type="radio" name="bis5" value="4"/><br/>Almost Always/Always
                    </label>
                </div>
            </div>
            <div class="bisquestion">
                <div class="bisquestiontext" >
                    I have "racing" thoughts.
                </div>
                <div class="bisitem">
                    <label>
                        <input type="radio" name="bis6" value="1"/><br/>Rarely/Never
                    </label>
                </div>
                <div class="bisitem">
                    <label>
                        <input type="radio" name="bis6" value="2"/><br/>Occasionally
                    </label>
                </div>
                <div class="bisitem">
                    <label>
                        <input type="radio" name="bis6" value="3"/><br/>Often
                    </label>
                </div>
                <div class="bisitem">
                    <label>
                        <input type="radio" name="bis6" value="4"/><br/>Almost Always/Always
                    </label>
                </div>
            </div>
            <div class="bisquestion">
                <div class="bisquestiontext" >
                    I plan trips well ahead of time.
                </div>
                <div class="bisitem">
                    <label>
                        <input type="radio" name="bis7" value="1"/><br/>Rarely/Never
                    </label>
                </div>
                <div class="bisitem">
                    <label>
                        <input type="radio" name="bis7" value="2"/><br/>Occasionally
                    </label>
                </div>
                <div class="bisitem">
                    <label>
                        <input type="radio" name="bis7" value="3"/><br/>Often
                    </label>
                </div>
                <div class="bisitem">
                    <label>
                        <input type="radio" name="bis7" value="4"/><br/>Almost Always/Always
                    </label>
                </div>
            </div>
            <div class="bisquestion">
                <div class="bisquestiontext" >
                    I am self controlled.
                </div>
                <div class="bisitem">
                    <label>
                        <input type="radio" name="bis8" value="1"/><br/>Rarely/Never
                    </label>
                </div>
                <div class="bisitem">
                    <label>
                        <input type="radio" name="bis8" value="2"/><br/>Occasionally
                    </label>
                </div>
                <div class="bisitem">
                    <label>
                        <input type="radio" name="bis8" value="3"/><br/>Often
                    </label>
                </div>
                <div class="bisitem">
                    <label>
                        <input type="radio" name="bis8" value="4"/><br/>Almost Always/Always
                    </label>
                </div>
            </div>
            <div class="bisquestion">
                <div class="bisquestiontext" >
                    I concentrate easily.
                </div>
                <div class="bisitem">
                    <label>
                        <input type="radio" name="bis9" value="1"/><br/>Rarely/Never
                    </label>
                </div>
                <div class="bisitem">
                    <label>
                        <input type="radio" name="bis9" value="2"/><br/>Occasionally
                    </label>
                </div>
                <div class="bisitem">
                    <label>
                        <input type="radio" name="bis9" value="3"/><br/>Often
                    </label>
                </div>
                <div class="bisitem">
                    <label>
                        <input type="radio" name="bis9" value="4"/><br/>Almost Always/Always
                    </label>
                </div>
            </div>
            <div class="bisquestion">
                <div class="bisquestiontext" >
                    I save regularly.
                </div>
                <div class="bisitem">
                    <label>
                        <input type="radio" name="bis10" value="1"/><br/>Rarely/Never
                    </label>
                </div>
                <div class="bisitem">
                    <label>
                        <input type="radio" name="bis10" value="2"/><br/>Occasionally
                    </label>
                </div>
                <div class="bisitem">
                    <label>
                        <input type="radio" name="bis10" value="3"/><br/>Often
                    </label>
                </div>
                <div class="bisitem">
                    <label>
                        <input type="radio" name="bis10" value="4"/><br/>Almost Always/Always
                    </label>
                </div>
            </div>
            <div class="bisquestion">
                <div class="bisquestiontext" >
                    I "squirm" at plays or lectures.
                </div>
                <div class="bisitem">
                    <label>
                        <input type="radio" name="bis11" value="1"/><br/>Rarely/Never
                    </label>
                </div>
                <div class="bisitem">
                    <label>
                        <input type="radio" name="bis11" value="2"/><br/>Occasionally
                    </label>
                </div>
                <div class="bisitem">
                    <label>
                        <input type="radio" name="bis11" value="3"/><br/>Often
                    </label>
                </div>
                <div class="bisitem">
                    <label>
                        <input type="radio" name="bis11" value="4"/><br/>Almost Always/Always
                    </label>
                </div>
            </div>
            <div class="bisquestion">
                <div class="bisquestiontext" >
                    I am a careful thinker.
                </div>
                <div class="bisitem">
                    <label>
                        <input type="radio" name="bis12" value="1"/><br/>Rarely/Never
                    </label>
                </div>
                <div class="bisitem">
                    <label>
                        <input type="radio" name="bis12" value="2"/><br/>Occasionally
                    </label>
                </div>
                <div class="bisitem">
                    <label>
                        <input type="radio" name="bis12" value="3"/><br/>Often
                    </label>
                </div>
                <div class="bisitem">
                    <label>
                        <input type="radio" name="bis12" value="4"/><br/>Almost Always/Always
                    </label>
                </div>
            </div>
            <div class="bisquestion">
                <div class="bisquestiontext" >
                    I plan for job security.
                </div>
                <div class="bisitem">
                    <label>
                        <input type="radio" name="bis13" value="1"/><br/>Rarely/Never
                    </label>
                </div>
                <div class="bisitem">
                    <label>
                        <input type="radio" name="bis13" value="2"/><br/>Occasionally
                    </label>
                </div>
                <div class="bisitem">
                    <label>
                        <input type="radio" name="bis13" value="3"/><br/>Often
                    </label>
                </div>
                <div class="bisitem">
                    <label>
                        <input type="radio" name="bis13" value="4"/><br/>Almost Always/Always
                    </label>
                </div>
            </div>
            <div class="bisquestion">
                <div class="bisquestiontext" >
                    I say things without thinking.
                </div>
                <div class="bisitem">
                    <label>
                        <input type="radio" name="bis14" value="1"/><br/>Rarely/Never
                    </label>
                </div>
                <div class="bisitem">
                    <label>
                        <input type="radio" name="bis14" value="2"/><br/>Occasionally
                    </label>
                </div>
                <div class="bisitem">
                    <label>
                        <input type="radio" name="bis14" value="3"/><br/>Often
                    </label>
                </div>
                <div class="bisitem">
                    <label>
                        <input type="radio" name="bis14" value="4"/><br/>Almost Always/Always
                    </label>
                </div>
            </div>
            <div class="bisquestion">
                <div class="bisquestiontext" >
                    I like to think about complex problems.
                </div>
                <div class="bisitem">
                    <label>
                        <input type="radio" name="bis15" value="1"/><br/>Rarely/Never
                    </label>
                </div>
                <div class="bisitem">
                    <label>
                        <input type="radio" name="bis15" value="2"/><br/>Occasionally
                    </label>
                </div>
                <div class="bisitem">
                    <label>
                        <input type="radio" name="bis15" value="3"/><br/>Often
                    </label>
                </div>
                <div class="bisitem">
                    <label>
                        <input type="radio" name="bis15" value="4"/><br/>Almost Always/Always
                    </label>
                </div>
            </div>
            <div class="bisquestion">
                <div class="bisquestiontext" >
                    I change jobs.
                </div>
                <div class="bisitem">
                    <label>
                        <input type="radio" name="bis16" value="1"/><br/>Rarely/Never
                    </label>
                </div>
                <div class="bisitem">
                    <label>
                        <input type="radio" name="bis16" value="2"/><br/>Occasionally
                    </label>
                </div>
                <div class="bisitem">
                    <label>
                        <input type="radio" name="bis16" value="3"/><br/>Often
                    </label>
                </div>
                <div class="bisitem">
                    <label>
                        <input type="radio" name="bis16" value="4"/><br/>Almost Always/Always
                    </label>
                </div>
            </div>
            <div class="bisquestion">
                <div class="bisquestiontext" >
                    I act "on impulse".
                </div>
                <div class="bisitem">
                    <label>
                        <input type="radio" name="bis17" value="1"/><br/>Rarely/Never
                    </label>
                </div>
                <div class="bisitem">
                    <label>
                        <input type="radio" name="bis17" value="2"/><br/>Occasionally
                    </label>
                </div>
                <div class="bisitem">
                    <label>
                        <input type="radio" name="bis17" value="3"/><br/>Often
                    </label>
                </div>
                <div class="bisitem">
                    <label>
                        <input type="radio" name="bis17" value="4"/><br/>Almost Always/Always
                    </label>
                </div>
            </div>
            <div class="bisquestion">
                <div class="bisquestiontext" >
                    I get easily bored when solving thought problems.
                </div>
                <div class="bisitem">
                    <label>
                        <input type="radio" name="bis18" value="1"/><br/>Rarely/Never
                    </label>
                </div>
                <div class="bisitem">
                    <label>
                        <input type="radio" name="bis18" value="2"/><br/>Occasionally
                    </label>
                </div>
                <div class="bisitem">
                    <label>
                        <input type="radio" name="bis18" value="3"/><br/>Often
                    </label>
                </div>
                <div class="bisitem">
                    <label>
                        <input type="radio" name="bis18" value="4"/><br/>Almost Always/Always
                    </label>
                </div>
            </div>
            <div class="bisquestion">
                <div class="bisquestiontext" >
                    I act on the spur of the moment.
                </div>
                <div class="bisitem">
                    <label>
                        <input type="radio" name="bis19" value="1"/><br/>Rarely/Never
                    </label>
                </div>
                <div class="bisitem">
                    <label>
                        <input type="radio" name="bis19" value="2"/><br/>Occasionally
                    </label>
                </div>
                <div class="bisitem">
                    <label>
                        <input type="radio" name="bis19" value="3"/><br/>Often
                    </label>
                </div>
                <div class="bisitem">
                    <label>
                        <input type="radio" name="bis19" value="4"/><br/>Almost Always/Always
                    </label>
                </div>
            </div>
            <div class="bisquestion">
                <div class="bisquestiontext" >
                    I am a steady thinker.
                </div>
                <div class="bisitem">
                    <label>
                        <input type="radio" name="bis20" value="1"/><br/>Rarely/Never
                    </label>
                </div>
                <div class="bisitem">
                    <label>
                        <input type="radio" name="bis20" value="2"/><br/>Occasionally
                    </label>
                </div>
                <div class="bisitem">
                    <label>
                        <input type="radio" name="bis20" value="3"/><br/>Often
                    </label>
                </div>
                <div class="bisitem">
                    <label>
                        <input type="radio" name="bis20" value="4"/><br/>Almost Always/Always
                    </label>
                </div>
            </div>
            <div class="bisquestion">
                <div class="bisquestiontext" >
                    I change residences.
                </div>
                <div class="bisitem">
                    <label>
                        <input type="radio" name="bis21" value="1"/><br/>Rarely/Never
                    </label>
                </div>
                <div class="bisitem">
                    <label>
                        <input type="radio" name="bis21" value="2"/><br/>Occasionally
                    </label>
                </div>
                <div class="bisitem">
                    <label>
                        <input type="radio" name="bis21" value="3"/><br/>Often
                    </label>
                </div>
                <div class="bisitem">
                    <label>
                        <input type="radio" name="bis21" value="4"/><br/>Almost Always/Always
                    </label>
                </div>
            </div>
            <div class="bisquestion">
                <div class="bisquestiontext" >
                    I buy things on impulse.
                </div>
                <div class="bisitem">
                    <label>
                        <input type="radio" name="bis22" value="1"/><br/>Rarely/Never
                    </label>
                </div>
                <div class="bisitem">
                    <label>
                        <input type="radio" name="bis22" value="2"/><br/>Occasionally
                    </label>
                </div>
                <div class="bisitem">
                    <label>
                        <input type="radio" name="bis22" value="3"/><br/>Often
                    </label>
                </div>
                <div class="bisitem">
                    <label>
                        <input type="radio" name="bis22" value="4"/><br/>Almost Always/Always
                    </label>
                </div>
            </div>
            <div class="bisquestion">
                <div class="bisquestiontext" >
                    I can only think about one thing at a time.
                </div>
                <div class="bisitem">
                    <label>
                        <input type="radio" name="bis23" value="1"/><br/>Rarely/Never
                    </label>
                </div>
                <div class="bisitem">
                    <label>
                        <input type="radio" name="bis23" value="2"/><br/>Occasionally
                    </label>
                </div>
                <div class="bisitem">
                    <label>
                        <input type="radio" name="bis23" value="3"/><br/>Often
                    </label>
                </div>
                <div class="bisitem">
                    <label>
                        <input type="radio" name="bis23" value="4"/><br/>Almost Always/Always
                    </label>
                </div>
            </div>
            <div class="bisquestion">
                <div class="bisquestiontext" >
                    I change hobbies.
                </div>
                <div class="bisitem">
                    <label>
                        <input type="radio" name="bis24" value="1"/><br/>Rarely/Never
                    </label>
                </div>
                <div class="bisitem">
                    <label>
                        <input type="radio" name="bis24" value="2"/><br/>Occasionally
                    </label>
                </div>
                <div class="bisitem">
                    <label>
                        <input type="radio" name="bis24" value="3"/><br/>Often
                    </label>
                </div>
                <div class="bisitem">
                    <label>
                        <input type="radio" name="bis24" value="4"/><br/>Almost Always/Always
                    </label>
                </div>
            </div>
            <div class="bisquestion">
                <div class="bisquestiontext" >
                    I spend or charge more than I earn.
                </div>
                <div class="bisitem">
                    <label>
                        <input type="radio" name="bis25" value="1"/><br/>Rarely/Never
                    </label>
                </div>
                <div class="bisitem">
                    <label>
                        <input type="radio" name="bis25" value="2"/><br/>Occasionally
                    </label>
                </div>
                <div class="bisitem">
                    <label>
                        <input type="radio" name="bis25" value="3"/><br/>Often
                    </label>
                </div>
                <div class="bisitem">
                    <label>
                        <input type="radio" name="bis25" value="4"/><br/>Almost Always/Always
                    </label>
                </div>
            </div>
            <div class="bisquestion">
                <div class="bisquestiontext" >
                    I often have extraneous thoughts when thinking.
                </div>
                <div class="bisitem">
                    <label>
                        <input type="radio" name="bis26" value="1"/><br/>Rarely/Never
                    </label>
                </div>
                <div class="bisitem">
                    <label>
                        <input type="radio" name="bis26" value="2"/><br/>Occasionally
                    </label>
                </div>
                <div class="bisitem">
                    <label>
                        <input type="radio" name="bis26" value="3"/><br/>Often
                    </label>
                </div>
                <div class="bisitem">
                    <label>
                        <input type="radio" name="bis26" value="4"/><br/>Almost Always/Always
                    </label>
                </div>
            </div>
            <div class="bisquestion">
                <div class="bisquestiontext" >
                    I am more interested in the present than the future.
                </div>
                <div class="bisitem">
                    <label>
                        <input type="radio" name="bis27" value="1"/><br/>Rarely/Never
                    </label>
                </div>
                <div class="bisitem">
                    <label>
                        <input type="radio" name="bis27" value="2"/><br/>Occasionally
                    </label>
                </div>
                <div class="bisitem">
                    <label>
                        <input type="radio" name="bis27" value="3"/><br/>Often
                    </label>
                </div>
                <div class="bisitem">
                    <label>
                        <input type="radio" name="bis27" value="4"/><br/>Almost Always/Always
                    </label>
                </div>
            </div>
            <div class="bisquestion">
                <div class="bisquestiontext" >
                    I am restless at the theater or lectures.
                </div>
                <div class="bisitem">
                    <label>
                        <input type="radio" name="bis28" value="1"/><br/>Rarely/Never
                    </label>
                </div>
                <div class="bisitem">
                    <label>
                        <input type="radio" name="bis28" value="2"/><br/>Occasionally
                    </label>
                </div>
                <div class="bisitem">
                    <label>
                        <input type="radio" name="bis28" value="3"/><br/>Often
                    </label>
                </div>
                <div class="bisitem">
                    <label>
                        <input type="radio" name="bis28" value="4"/><br/>Almost Always/Always
                    </label>
                </div>
            </div>
            <div class="bisquestion">
                <div class="bisquestiontext" >
                    I like puzzles.
                </div>
                <div class="bisitem">
                    <label>
                        <input type="radio" name="bis29" value="1"/><br/>Rarely/Never
                    </label>
                </div>
                <div class="bisitem">
                    <label>
                        <input type="radio" name="bis29" value="2"/><br/>Occasionally
                    </label>
                </div>
                <div class="bisitem">
                    <label>
                        <input type="radio" name="bis29" value="3"/><br/>Often
                    </label>
                </div>
                <div class="bisitem">
                    <label>
                        <input type="radio" name="bis29" value="4"/><br/>Almost Always/Always
                    </label>
                </div>
            </div>
            <div class="bisquestion">
                <div class="bisquestiontext" >
                    I am future oriented.
                </div>
                <div class="bisitem">
                    <label>
                        <input type="radio" name="bis30" value="1"/><br/>Rarely/Never
                    </label>
                </div>
                <div class="bisitem">
                    <label>
                        <input type="radio" name="bis30" value="2"/><br/>Occasionally
                    </label>
                </div>
                <div class="bisitem">
                    <label>
                        <input type="radio" name="bis30" value="3"/><br/>Often
                    </label>
                </div>
                <div class="bisitem">
                    <label>
                        <input type="radio" name="bis30" value="4"/><br/>Almost Always/Always
                    </label>
                </div>
            </div>
        </form>

    </div>

	  <hr>
    <p id="blankmessage"></p>

    <button type="button" id="continue" value="next" class="btn btn-primary btn-lg continue">
        Next <span class="glyphicon glyphicon-arrow-right"></span>
    </button>
</div>
