<html>
Enter Subject ID here: <input id="subnum" type="text" name="subnum" value=""><br>
<input id="submit" type="submit" value="Submit">
<script>
 document.getElementById("submit").onclick = function () {
     var n = document.getElementById("subnum").value;
     popup = window.open('exp?hitId=v4-' + n + '&assignmentId=v4-' + n + '&workerId=v4-' + n + '&mode=debug','Popup','toolbar=no,location=no,status=no,menubar=no,scrollbars=yes,resizable=no,width='+screen.availWidth+',height='+screen.availHeight+'');
 }
</script>
</html>
