<div id="expdiv">

    <div id="content">
        <div id="topinfo">
            <div id="sliderpctdiv">Misses: <span id="sliderpct"></span>%
            </div>
            <div id="trialsdiv">Periods: <span id="trials"></span>
            </div>
            <div id="timediv">Time: <span id="time"></span>
            </div>
        </div>


        <div id="rewards">
            <div id="videoframe" >
                <div id="tabholder" >
                    <div  id="planetearthtab" class="tab">
                        Planet Earth
                    </div>
                    <div id='bakeofftab' class="tab">
                        Christmas Bakeoff
                    </div>
                    <div  id="unchainedreactiontab" class="tab">
                        Unchained Reaction
                    </div>
                    <div id="ellentab" class="tab">
                        Ellen Degeneres
                    </div>
                </div>
                <div id="videoholder" >
                    <video controls id="planetearth" src="/static/movies/Planet Earth Freshwater.mp4"></video>
                    <video controls id="bakeoff" src="/static/movies/The Great Christmas Bake Off.mp4"></video>
                    <video controls id="unchainedreaction" src="/static/movies/Unchained Reaction Season 1 Episode 6 - Movie Mayhem.mp4"></video>
                    <video controls id="ellen" src="/static/movies/Ellen Degeneres Here and Now.mp4"></video>
                </div>
            </div>
        </div>

        <div id="sliders">
            <p id="sliderinstructions">
                Set all sliders to 50!
            </p>
            <div id="slidersholder">
            </div>
        </div>

        <div id="rewardintro">
            <p id="rewardintrotext"> </p>
            <button type="button" id="continue" class="btn btn-success btn-lg continue"> Start </button>
        </div>
    </div>
</div>
