<div id="expdiv">

    <div id="topinfo">
        <div id="sliderpctdiv">Misses: <span id="sliderpct"></span>%
        </div>
        <div id="trialsdiv">Choices: <span id="trials"></span>
        </div>
    </div>

    <div id="content">
        <div id="rewards">
            <div id="videoframe" >
                <div id="tabholder" >
                    <div  id="planetearthtab" class="tab">
                        Planet Earth
                    </div>
                    <div id='bakeofftab' class="tab">
                        Christmas Bakeoff
                    </div>
                    <div  id="unchainedreactiontab" class="tab">
                        Unchained Reaction
                    </div>
                    <div id="ellentab" class="tab">
                        Ellen Degeneres
                    </div>
                </div>
                <div id="videoholder" >
                    <video controls id="planetearth" src="/static/movies/Planet Earth Freshwater.mp4"></video>
                    <video controls id="bakeoff" src="/static/movies/The Great Christmas Bake Off.mp4"></video>
                    <video controls id="unchainedreaction" src="/static/movies/Unchained Reaction Season 1 Episode 6 - Movie Mayhem.mp4"></video>
                    <video controls id="ellen" src="/static/movies/Ellen Degeneres Here and Now.mp4"></video>
                </div>
            </div>
        </div>

        <div id="sliders">
            <p id="sliderinstructions">
                Set all sliders to 50!
            </p>
            <div class="progress">
                <div id="progress-bar" class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div id="slidersholder">
            </div>
        </div>

        <div id="alternativecontents" >
            <p>Click start to begin task.</p>
            <button id="alternativestart" class="machinebutton"> START </button>
        </div>

        <div id="exploreexploitdiv">
            <div id="choiceinfo"></div>
            <div id="choicebuttonsdiv" >
                <button id="choice1" class="choicebutton btn btn-primary"> Option A </button>
                <button id="choice2" class="choicebutton btn btn-danger"> Option B </button>
            </div>
            <div id="lastchoicediv">Previous choice: <span id="lastchoicespan"></span></div>
        </div>

    </div>
    <div>
        <svg id="consumptionqueue" >
        </svg>
        <div id="rightofqueue">
        </div>
    </div>
</div>
