<div id="container-instructions">

	  <h1>Instructions</h1>

	  <hr>

	  <div class="instructions well">

        <p>
            In this experiment, we are looking at people's preferences when
            trading off between fun and boring activities. <strong>You will make a series
            of 30 choices between two buttons</strong>, "Option A" and "Option B".
        </p>


        <div class="instrimages">
            <img width="600px" src="/static/images/instruct_choice_img.png">
        </div>


        <p>
            After you click an option, you will spend some time performing two tasks
            &mdash;a boring and unpleasant <strong>slider task</strong> and a fun
            <strong>video task</strong>. The option you choose may affect the
            <strong>amount of time</strong> you spend on each task and the
            <strong>order</strong> in which you perform the tasks.
        </p>

        <p>
            For your first two choices, you will be asked to click Option A, and
            then Option B, to ensure that you have tried both options. For the
            rest of your choices, you can simply click whichever option you
            prefer. Occasionally, the options will be replaced with
            two new options, which may have different task orders and amounts.
            When new options appear, you will again be instructed to try Options
            A and B, and can then choose whichever you prefer.
        </p>

        <p>
            The number of choices remaining in the experiment
            will be displayed on the top of the screen
        </p>


	  </div>

	  <hr>


    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	  <!-- no previous button on first screen -->
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                    Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
