<div id="container-instructions">

	  <h1>Instructions</h1>

	  <hr>

	  <div class="instructions well">

        <p>
            During the video task, you will get to choose among four videos: Planet Earth (an acclaimed nature documentary),
            The Great Christmas Bakeoff (a British baking competition), Unchained Reaction
            (a construction and special-effects competition hosted by the Myth Busters hosts),
            and an Ellen Degeneres comedy special.
        </p>

        <div class="instrimages">
            <img width="600px" src="/static/images/instruct_2_img.png">
        </div>

        <p>
            During the video task, tabs for each of the four videos will appear
            at the top of the screen. You can click on the tabs to
            switch which video you are watching whenever you choose, and can
            also skip around within the videos by hovering over the video to
            bring up controls. You have no required actions during the video task.
        </p>

	  </div>
	  <hr>

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                    Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>
</div>
