<div id="container-instructions">

	  <h1>Instructions</h1>

	  <hr>

	  <div class="instructions well">

        <p>
            To try to find a better spinner, click "run new spinner". As
            shown above the "run new spinner" button, there are 30 possible
            spinners. One third of them have no gold wedges, and always produce
            slider tasks. The remaining two thirds have gold wedges ranging
            evenly from 5% to 100% of the spinner's area. Once you click "run
            new spinner," the 30 spinners will be covered up and <strong>randomly
            shuffled</strong>. You can then click any of the thirty squares in the panel
            to reveal and select a new spinner.
        </p>

        <div class="instrimages">
            <img width="700px" src="/static/images/spinnerpicker.png">
        </div>

        <p>
            After the new spinner is chosen, it will appear in front of the
            panel and the machine will run the new
            spinner to produce a slider or video task. If the new spinner
            is worse than the best spinner, the
            best spinner will stay the same for the next choice. <strong>But if the new spinner is better
            than the best spinner, it will be saved as the best spinner
            for your future choices. This means that while choosing a new spinner
            can be risky, it can also allow you to improve the best spinner,
            which you can take advantage of for future choices.</strong>
        </p>

        <div class="instrimages">
            <img width="700px" src="/static/images/instruct_5_img.png">
        </div>

	  </div>

	  <hr>

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                    Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>
</div>
