<div id="container-instructions">

	  <h1>Instructions</h1>

	  <hr>

	  <div class="instructions well">

        <p>
            You will receive a <strong>bonus of $5.00</strong> simply for
            completing the sliders. If you occasionally do not set a
            slider to 50, you will not be penalized and will receive your complete bonus.
            However, <strong>you will be penalized 20 cents from your bonus for each
            percentage of sliders over 10% that you miss</strong>.
            For example, if you miss 18% of the sliders, you will lose
            $1.60 and your final bonus will be $3.40. This penalty is simply to
            ensure that you remain engaged with the tasks.
        </p>

        <p>
            Before completing the main experiment, you will have an opportunity
            to practice the slider and video tasks. You will not be penalized
            for sliders missed during this practice phase.
        </p>

        <p>
            After completing the practice phase, you will proceed to the main experiment.
        </p>

	  </div>

	  <hr>

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-7">
            </div>
            <div class="col-xs-3">
	              <button type="button" id="next" value="next" class="btn btn-success btn-lg continue">
	                  Begin experiment <span class="glyphicon glyphicon-arrow-right"></span>
	              </button>
            </div>
        </div>
    </div>
</div>
