<div id="container-instructions">

	  <h1>Instructions</h1>

	  <hr>

	  <div class="instructions well">

        <p>
            You can use the machine to add tasks to the queue. The machine works
            by spinning a spinner. If the spinner lands on <strong>gold</strong>, it creates a
            <strong>video task</strong>; if it lands on <strong>black</strong>, it creates a <strong>slider task</strong>. Each time you make a choice, you can either run a new spinner from a panel of possible
            new spinners, or run the best spinner you've found so far.
        </p>

        <p>
            To run the machine using the best spinner, click "run best
            spinner." The initial value of the best spinner is pre-set by the experiment.
        </p>

        <div class="instrimages">
            <img width="700px" src="/static/images/instruct_4_img.png">
        </div>


	  </div>

	  <hr>

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                    Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>
</div>
