<div id="container-instructions">

	  <h1>Instructions</h1>

	  <hr>

	  <div class="instructions well">

        <p>
            In this experiment, we are looking at how people make decisions to
            trade off between fun and boring activities. You will perform two
            types of tasks&mdash;a boring and unpleasant <strong>slider task</strong> and a fun
            <strong>video task</strong>. Throughout the experiment you will make
            choices that can allow you to spend less time on the slider task and
            more time on the video task.
        </p>

        <p>
            The tasks are split into 30-second work periods. In the slider task,
            five sliders will appear on the screen. Your job is to move each one to "50" using
            the mouse within the allotted 30 seconds. When the slider is
            released at 50 it will turn green, showing that it has been
            completed.
        </p>


        <div class="instrimages">
            <img width="600px" src="/static/images/instruct_1_img.png">
        </div>

        <p>
            At the beginning of each slider task, only the first slider will be
            enabled and the other four will be grayed out. As the period
            progresses, the other sliders will be enabled at 5 second intervals.
        </p>

        <p>
            An intermittent, annoying static noise will also play throughout the slider task.
        </p>

        <p>
            The time left in the current work period, number of work periods
            remaining in the experiment, and percentage of sliders missed over
            the course of the experiment will be displayed at the top of the screen.
        </p>

	  </div>

	  <hr>


    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	  <!-- no previous button on first screen -->
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                    Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
