<div id="container-instructions">

	  <h1>Instructions</h1>

	  <hr>

	  <div class="instructions well">

        <p>
            In the slider task, a progress bar and a set of
            sliders will appear on the screen. Your job is to move each one to "50" using
            the mouse before the time on the progress bar runs out. When the slider is
            released at 50 it will turn green, showing that it has been
            completed.
        </p>


        <div class="instrimages">
            <img width="600px" src="/static/images/instruct_1_img.png">
        </div>

        <p>
            At the beginning of each slider task, only the first slider will be
            enabled and the other four will be grayed out. As the period
            progresses, the other sliders will be enabled at regular intervals.
        </p>

        <p>
            An intermittent, annoying static noise will also play throughout the slider task.
        </p>

        <p>
            The percentage of sliders missed over
            the course of the experiment will be displayed at the top of the screen.
        </p>

	  </div>
	  <hr>

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                    Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>
</div>
