
body {
    padding:0px;
    margin: 0px;
    background-color: white;
    color: black;
    font-weight: 300;
    font-size: 13pt;
}


/* text styling */
strong {
  font-weight: 600;
}

.warm {
  color: steelblue;
  text-align: justify;
}

.cool {
  color: #ccccff;
}


/* these are all the same for now, but easy to modify individually */
#container-ad, #container-error, #container-exp, #container-consent, #container-instructions, #container-questionnaire {
    /* position: absolute; */
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    padding-top: 5%;
    padding-bottom: 5%;
    /* border: 18px solid #f3f3f3; */
    background: white;
}

#container-consent, #container-exp {  /* override padding to fit long consent forms and exp display*/
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 1%;
}

.instrimages {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;

}

#choiceholder{
    margin-left: auto;
    margin-right: auto;
    width: 600px;
}

/* ad.html  - the ad that people view first */
#adlogo {
    float: right;
    width: 140px;
    padding: 2px;
    border: 1px solid #ccc;
}

/* consent.html - the consent form */
#consent {
  margin: 0 auto;
  margin-top: 0;
  width: 800px;
  font-size: 100%;
}

.legal {
  text-align: justify;
  font-size: 11pt;
  line-height: 1.1em;
}

#trial {
  margin: 0 auto;
  width: 800px;
  text-align: center;
}

#query {
  color: darkgray;
}

.question {
  margin-bottom: 30px;
}

/* errors */
#error img {
  padding-right: 10px;
  padding-top: 15px;
}

#expdiv {
    position: relative;
    font-family: sans-serif;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}

#rewards {
    pointer-events: none;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    height: 550px;
}

#holdspace {
    text-align: center;
    font-size: 30px;
}

.standardRewards {
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 500px;
    text-align: center;
    font-size: 45px;
    font-family: sans-serif;
    padding-top: 150px;
}

#rewardintro {
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 500px;
    text-align: center;
    font-size: 45px;
    font-family: sans-serif;
    padding-top: 200px;
}

#topinfo {
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    height: 30px;
    font-size: 25px;
    font-family: sans-serif;
}

#timediv {
    float: left;
    width: 100px;
}

#trialsdiv {
    float: left;
    width: 200px;
}

#sliderpctdiv {
    float: left;
    width: 200px;
}

#pausepctdiv {
    float: left;
    width: 200px;
}

/* card task */

#alternativecontents {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: center;
    padding-top: 100px;
    font-size: 30px;
    width: 600px;
    height: 350px;
    overflow: auto;
    margin-bottom: 10px;
}

#maze {
    width: 600px;
    height: 300px;
}

#exploreexploitdiv {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    position: relative;
    padding-top: 15px;
    width: 600px;
    height: 350px;
    font-size: 18px;
    font-family: monospace;
    overflow: auto;
    border: 10px solid black;
    border-radius: 20px;
    background-color: gray;
}

.machinesvg {
    width: 150px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#machinescreen {
    width: 95%;
    height: 120px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 5px;
    background-color: black;
    color: lime;
}

.choicedivs {
    float: left;
    text-align: center;
    width: 33%;
    padding: 10px;
}

#screendiv {
    width: 33%;
    padding: 10px;
    float: left;
}

.machinebutton {
    margin-top: 20px;
    width: 100%;
    height: 70px;
    background-color: gainsboro;
    border: 3px solid black;
    border-radius: 10px;
}

.clicked {
    background-color: #444444;
}

.machinebutton:disabled {
    color: #888888;
    border-color: #888888;
}

#alternativestart {
    width: 200px;
}

#inforeminderbutton {
    text-align: center;
    width: 60px;
    height: 30px;
    border-radius: 5px;
    border: 2px solid black;
    background: gainsboro;
    font-size: 20px;
}

#inforeminder {
    display: none;
}

.info {
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    height: 60px;
    border-radius: 5px;
    border: 5px solid black;
    background: white;
}

#trials {
    position: relative;
    font-size: 24px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 450px;
}

#consumptionblocker {
    font-size: 30px;
    text-align: center;
    padding-top: 75px;
    display: none;
    position: absolute;
    width: 300px;
    height: 200px;
    left: 200px;
    top: 120px;
    border: 5px solid black;
    border-radius: 10px;
    background: gray;
}

/* game */


.progress {
    margin-left: auto;
    margin-right: auto;
    width: 80px;
}

.progress-bar {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}

#sliders {
    margin-bottom: 10px;
    width: 700px;
    height: 450px;
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
}

.sliderdiv {
    width: 100%;
    height: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
}

input.slider[type="range"] {
    width: 400px;
    margin: 10px;
    float: left;
}

.sliderlabel {
    float: left;
    margin: 10px;
}

#sliderinstructions {
    text-align: center;
    font-size: 28px;
}

#mazediv {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 600px;
    height: 310px;
}

#bottominfodiv {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 600px;
    height: 310px;
}

#mazeblocker {
    text-align: center;
    font-size: 30px;
    padding-top: 80px;
    position: absolute;
    left: 15px;
    top: 15px;
    width: 570px;
    height: 270px;
    background: white;
    border: 2px solid black;
}