
body {
    padding:0px;
    margin: 0px;
    background-color: white;
    color: black;
    font-weight: 300;
    font-size: 13pt;
}


/* text styling */
strong {
  font-weight: 600;
}

.warm {
  color: steelblue;
  text-align: justify;
}

.cool {
  color: #ccccff;
}


/* these are all the same for now, but easy to modify individually */
#container-ad, #container-error, #container-exp, #container-consent, #container-instructions, #container-questionnaire {
    /* position: absolute; */
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    padding-top: 5%;
    padding-bottom: 5%;
    /* border: 18px solid #f3f3f3; */
    background: white;
}

#container-consent, #container-exp {  /* override padding to fit long consent forms and exp display*/
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 1%;
}

.instrimages {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;

}

#choiceholder{
    margin-left: auto;
    margin-right: auto;
    width: 600px;
}

/* ad.html  - the ad that people view first */
#adlogo {
    float: right;
    width: 140px;
    padding: 2px;
    border: 1px solid #ccc;
}

/* consent.html - the consent form */
#consent {
  margin: 0 auto;
  margin-top: 0;
  width: 800px;
  font-size: 100%;
}

.legal {
  text-align: justify;
  font-size: 11pt;
  line-height: 1.1em;
}

#trial {
  margin: 0 auto;
  width: 800px;
  text-align: center;
}

#query {
  color: darkgray;
}

.question {
  margin-bottom: 30px;
}

/* errors */
#error img {
  padding-right: 10px;
  padding-top: 15px;
}

#expdiv {
    font-family: sans-serif;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}

#rewards {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    height: 450px;
}

.standardRewards {
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 500px;
    text-align: center;
    font-size: 45px;
    font-family: sans-serif;
    padding-top: 150px;
}

#rewardintro {
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 500px;
    text-align: center;
    font-size: 45px;
    font-family: sans-serif;
    padding-top: 200px;
}

#topinfo {
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 30px;
    font-size: 25px;
    font-family: sans-serif;
}

#timediv {
    float: right;
    width: 120px;
}

#pointsdiv {
    float: left;
    width: 150px;
}

#trialsdiv {
    float: left;
    width: 150px;
}

#popuppctdiv {
    float: left;
    width: 180px;
}

/* card task */

#explorediv {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 450px;
}

#behindcarddiv {
    position: absolute;
    top: 200px;
    left: 110px;
    font-size: 30px;
}

#maze {
    width: 600px;
    height: 300px;
}

#carddiv {
    position: relative;
    border: 1px solid black;
    width: 600px;
    height: 350px;
    text-align: center;
    font-size: 30px;
    overflow: auto;
}

#innercarddiv {
    border: 1px solid black;
    background: white;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 25px;
    width: 550px;
    height: 300px;
    text-align: center;
    font-size: 30px;
    overflow: auto;
}

.cardholder {
    position: absolute;
}

.card {
    text-align: center;
    font-size: 38px;
    width: 120px;
    height: 120px;
    border-radius: 5px;
    padding-top: 15px;
    border: 5px solid black;
    background: gainsboro;
}

#outerexplorediv {
    left: 330px;
    top: 80px;
}

#outerexploitdiv {
    left: 130px;
    top: 80px;
}

#context {
    margin-left: auto;
    margin-right: auto;
}

#trialtype {
    margin-left: auto;
    margin-right: auto;
    margin-top: 190px;
    width: 300px;
}

.undercard {
    font-size: 16px;
}

#inforeminderbutton {
    position: absolute;
    left: 510px;
    top: 290px;
    width: 60px;
    height: 30px;
    border-radius: 5px;
    border: 2px solid black;
    background: gainsboro;
    font-size: 20px;
}

#inforeminder {
    display: none;
}

.info {
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    height: 60px;
    border-radius: 5px;
    border: 5px solid black;
    background: white;
}

#trials {
    position: relative;
    font-size: 24px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 450px;
}

/* game */

#arrowinstructions {
    text-align: center;
}

/* popup */
#popup {
    position: absolute;
    text-align: center;
    padding-top: 80px;
    font-size: 28px;
    left: 195px;
    top: 140px;
    width: 300px;
    height: 200px;
    margin: 5px;
    border-radius: 5px;
    padding-top: 15px;
    border: 5px solid black;
    background: yellow;
}

.progress {
    margin-left: auto;
    margin-right: auto;
    width: 80px;
}

.progress-bar {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}

#multiplierbar {
    width: 300px;
}
